.input, .input input {
    color: black; 
    padding:1vmin;
}

.input input{
    width:64%;
}

.input {
    display: flex;
    height:2.8rem;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.input input:focus{
    outline: none;
}

.chat-items{
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat-items button{
    background-color: rgb(137, 137, 181);
    border-radius: 0.4rem;
    font-weight: 600;
    padding: 0.1rem 0.2rem;
}

.chat-items .attach{
    width: 22%;
}