.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:5vmin;
    background-color: rgb(35, 35, 67);
    color: rgb(204, 197, 197);
    padding:1rem;
    font-size:1.10rem;
    font-weight: 600;
}

.user{
    display: flex;
    width:22vmin;
    justify-content: space-between;
    align-items: center;
}

.user img{
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    object-fit: cover;
}

.user button{
    background:rgb(137, 137, 181);
    height:5vmin;
    border-radius: 0.5rem;
    font-weight: 600;
}